.landing-page {
  header {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgb(58, 58, 58);
    img {
      height: 95%;
      position: absolute;
      left: 10px;
    }
    nav {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: absolute;
      right: 0;
      a {
        color: white;
        text-decoration: none;
        margin-right: 10px;
        &:hover {
          color: red;
        }
      }
    }
  }
  #login {
    border: 2px solid black;
    padding: 5px 20px;
    border-radius: 20px;
  }
}
